@using BasicNtierTemplate.Web.MVC.Models.ViewModels
@using BasicNtierTemplate.Web.MVC.Models.ViewModels.WeatherForecast

@model WeatherViewModel
@{
    ViewData["Title"] = "Weather Forecast";
}
<div class="alert alert-warning mt-4" role="alert">
    <ul class="m-0">
        <li>This view is for testing the connection to the API layer.</li>
    </ul>
</div>

<div class="container mt-4">
    <h1 class="display-4 mb-4">Weather Forecast</h1>

    <p>For testing purposes. Retrieve from API a list of <b>random</b> weather forecast data.</p>

    @if (Model?.WeatherList != null && Model.WeatherList.Any())
    {
        <div class="alert alert-info" role="alert">
            <ul class="m-0">
                <li>If you can read this, it's because the MVC layer is correctly retrieving data from the WeatherForecast endpoint at the API layer.</li>
                <li>WeatherForecast data is not coming from the database, it is encapsulated in the API layer code.</li>
            </ul>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.WeatherList[0].Date)</th>
                        <th>@Html.DisplayNameFor(m => m.WeatherList[0].TemperatureC)</th>
                        <th>@Html.DisplayNameFor(m => m.WeatherList[0].TemperatureF)</th>
                        <th>@Html.DisplayNameFor(m => m.WeatherList[0].Summary)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var weather in Model.WeatherList)
                    {
                        <tr>
                            <td>@weather.Date.ToShortDateString()</td>
                            <td>@($"{weather.TemperatureC}°C")</td>
                            <td>@($"{weather.TemperatureF}°F")</td>
                            <td>@weather.Summary</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            <ul class="m-0">
                <li>If you can read this, it's because the MVC layer is not being able to connect to the WeatherForecast endpoint at the API layer.</li>
                <li>Instructions on how to do it can be found <a asp-controller="WeatherForecast" asp-action="ApiInstructions">here</a>.</li>
            </ul>
        </div>

        <div class="alert alert-info" role="alert">
            No weather data available.
        </div>
    }
</div>
